.vs/ 
**/TestResults/
**/coverage/
coverage.cobertura.xml
coverage/
/dotnet-tools.json
*.trx
**/bin/ 
**/obj/ 
node_modules/ 
**/node_modules/ 
*.user 
*.suo 
*.cache 
*.log
SIGER.Web/dist/ 
SIGER.Web/.vite/ 
